.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #007bff;
  border: 1px solid #007bff; /* Changed border color */
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  color: #fff; /* Changed text color to white */
}

.actions button:hover,
.actions button:active {
  background-color: #0056b3; 
  border-color: #0056b3; 
}

.actions .button--alt {
  color: #fff; /* Blue color for alternative button */
}

.actions .button {
  background-color: #007bff;
  color: #fff; /* Changed text color to white */
}

/* Cart.module.css */

.cart-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid  #666666;
  padding-bottom: 0.5rem;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-weight: bold;
}

.item-price {
  color: #666666;
}

.item-quantity {
  color: #666666;
}
table{
  background-color:aliceblue;
}
